<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autossh.dailyinspection.dao.ScriptConfigDao">

    <insert id="addServer" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO DC_SHELL_SETTING
            (SHELL_NAME,SHELL_DESC,SYSTEM_TYPE,SYSTEM_VERSION)
        VALUES
            (#{shellName},#{shellDesc},#{systemType},#{systemVersion})
    </insert>

    <select id="countServer" resultType="Integer">
        SELECT
	      count(0)
        FROM
            (
                SELECT
                    p.id,
                    q. HOST HOST,
                    q.APPLICATION_SERVER applicationServer,
                    q.USER_NAME userName,
                    q.DB_USERNAME dbUsername,
                    p.SYS_VERSION sysVersion,
                    q. SUBJECT SUBJECT,
                    q.SYSTEM_TYPE systemType,
                    q.CRONTAB crontab,
                    q.CREATION_DATE createTime,
                    p.EXEC_TIME execTime
                FROM
                    dc_server_setting q
                LEFT JOIN dc_distribute_setting p ON q. HOST = p.IP
                WHERE
                    q.is_delete = 0
            ) LEVEL1
    </select>

    <select id="listServer" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        p.id,
        q.HOST host,
        q.APPLICATION_SERVER applicationServer,
        q.USER_NAME userName,
        q.DB_USERNAME dbUsername,
        p.SYS_VERSION sysVersion,
        q.SUBJECT subject,
        q.SYSTEM_TYPE systemType,
        q.CRONTAB crontab,
        q.CREATION_DATE createTime,
        q.EXEC_TIME execTime
        FROM
        dc_server_setting q
        LEFT JOIN dc_distribute_setting p ON q. HOST = p.IP
        WHERE
        q.IS_DELETE = 0
        <if test="host != '' and host != null ">
            AND host LIKE "%"#{host}"%"
        </if>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <update id="updateScript" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE DC_SERVER_SETTING SSH
        LEFT JOIN
               DC_DISTRIBUTE_SETTING DDS ON SSH. HOST = DDS.IP
        SET
            SSH.HOST                =  #{host},
            SSH.APPLICATION_SERVER  =  #{applicationServer},
            SSH.USER_NAME           =  #{userName},
            SSH.DB_USERNAME         =  #{dbUsername},
            DDS.SYS_VERSION         =  #{sysVersion},
            SSH.SUBJECT             =  #{subject},
            SSH.SYSTEM_TYPE         =  #{systemType},
            SSH.CRONTAB             =  #{crontab},
            SSH.EXEC_TIME           =  #{execTime}
        WHERE DDS.ID = #{id}
    </update>

    <update id="deleteScirpt" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE DC_SERVER_SETTING SSH
        SET    SSH.IS_DELETE = '1'
        WHERE  SSH.ID = #{id}
    </update>

</mapper>