<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autossh.dailyinspection.dao.PortionConfigDao">

    <insert id="addPortion" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO DC_DISTRIBUTE_SETTING
            (IP,HOST_NAME,SYS_VERSION,SYSTEM_TYPE,EXEC_TIME)
        VALUES
            (#{IP},#{hostName},#{sysVersion},#{systemType},#{execTime})
    </insert>

    <select id="countPortion" resultType="Integer">
        SELECT count(0)
        FROM   DC_DISTRIBUTE_SETTING SSH
        WHERE  SSH.IS_DELETE = '0'
    </select>

    <select id="listPortion" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
              SSH.id id,
              SSH.IP IP,
              SSH.HOST_NAME hostName,
              SSH.SYS_VERSION sysVersion,
              SSH.SYSTEM_TYPE systemType,
              SSH.EXEC_TIME execTime,
              date_format(SSH.CREATE_TIME, '%Y-%m-%d %T') createTime
        FROM  DC_DISTRIBUTE_SETTING SSH
        WHERE SSH.IS_DELETE = '0'
        <if test="IP != '' and IP != null ">
            AND SSH.IP LIKE "%"#{IP}"%"
        </if>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="listPortionOne" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
              SSH.IP IP,
              SSH.SYS_VERSION sysVersion,
              SSH.EXEC_TIME execTime,
              SSH.SYSTEM_TYPE systemType
        FROM
          dc_distribute_setting SSH
        WHERE
          ip NOT IN (
                SELECT
                  HOST
                FROM
                  dc_server_setting DSS
                WHERE
                   is_delete != 1
                AND SSH.SYSTEM_TYPE = DSS.SYSTEM_TYPE
          )
        AND is_delete = 0
        ORDER BY
          CREATE_TIME
        LIMIT 1
    </select>
    <select id="getAllServerType" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        id          serverId,
        server_type serverType
        FROM dc_config
    </select>

    <update id="updatePortion" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE DC_DISTRIBUTE_SETTING SSH
        SET
            SSH.IP          = #{IP},
            SSH.HOST_NAME   = #{hostName},
            SSH.SYS_VERSION = #{sysVersion},
            SSH.SYSTEM_TYPE = #{systemType},
            EXEC_TIME       = #{execTime}
        WHERE SSH.ID = #{id}
    </update>

    <update id="deletePortion" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE DC_DISTRIBUTE_SETTING SSH
        SET SSH.IS_DELETE = '1'
        WHERE SSH.ID = #{id};

        UPDATE DC_SERVER_SETTING DSS
        SET    DSS.IS_DELETE = '1'
        WHERE  DSS.HOST = (SELECT  SSH.IP
                            FROM   DC_DISTRIBUTE_SETTING SSH
                            WHERE  SSH.ID = #{id}
                            AND    DSS.SYSTEM_TYPE = SSH.SYSTEM_TYPE);
    </update>

</mapper>