<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autossh.dailyinspection.dao.PortionConfigDao">

    <insert id="addPortion" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT
          INTO dc_distribute_setting
               (ip,host_name,sys_version,system_type,exec_time)
        VALUES
               (#{IP},#{hostName},#{sysVersion},#{systemType},#{execTime})
    </insert>

    <select id="countPortion" resultType="Integer">
        SELECT   count(0)
          FROM   dc_distribute_setting dds
         WHERE   dds.is_delete = '0'
    </select>

    <select id="listPortion" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
                  ssh.id id,
                  ssh.IP IP,
                  ssh.host_name hostName,
                  ssh.sys_version sysVersion,
                  ssh.system_type systemType,
                  ssh.exec_time execTime,
                  date_format(ssh.create_time, '%Y-%m-%d %T') createTime
           FROM   dc_distribute_setting ssh
          WHERE ssh.IS_DELETE = '0'
          <if test="IP != '' and IP != null ">
            AND ssh.IP LIKE "%"#{IP}"%"
          </if>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="listPortionOne" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
                  ssh.ip IP,
                  ssh.sys_version sysVersion,
                  ssh.exec_time   execTime,
                  ssh.system_type systemType
          FROM
                  dc_distribute_setting SSH
         WHERE ip
        NOT IN (
                SELECT
                        HOST
                  FROM
                        dc_server_setting dss
                 WHERE
                        is_delete != 1
                   AND ssh.system_type = dss.system_type)
           AND is_delete = 0
      ORDER BY
                CREATE_TIME
      LIMIT 1
    </select>
    <select id="getAllServerType" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
                id          serverId,
                server_type serverType
          FROM dc_config
    </select>

    <update id="updatePortion" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE dc_distribute_setting ssh
           SET
                ssh.ip          = #{IP},
                ssh.host_name   = #{hostName},
                ssh.sys_version = #{sysVersion},
                ssh.system_type = #{systemType},
                exec_time       = #{execTime}
         WHERE ssh.id = #{id}
    </update>

    <update id="deletePortion" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE DC_DISTRIBUTE_SETTING SSH
        SET SSH.IS_DELETE = '1'
        WHERE SSH.ID = #{id};

        UPDATE DC_SERVER_SETTING DSS
        SET    DSS.IS_DELETE = '1'
        WHERE  DSS.HOST = (SELECT  SSH.IP
                            FROM   DC_DISTRIBUTE_SETTING SSH
                            WHERE  SSH.ID = #{id}
                            AND    DSS.SYSTEM_TYPE = SSH.SYSTEM_TYPE);
    </update>

</mapper>